.formPage {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin: 10px;
}

.submitBtn {
    display: flex;
    justify-content: center;
}