.table {
    width: 90%;
    margin: 2% 5%;
}

.TableHeader {
    border: 1px solid rgb(86, 2, 187);
    padding: 10px;
    color: rgb(86, 2, 187);
}

.TableItem {
    text-align: center;
    padding: 10px;
    font-size: 16px;
}

.evenRow {
    background-color: rgb(235, 221, 248);
    color: black;
}

.oddRow {
    background-color: rgb(110, 14, 205);
    color: snow;
}

.tableWrapper {
  width: 100%;
  margin-top: 1rem;
  text-align: center;
}

.noDataText {
  font-size: 1.2rem;
  color: #666;
  margin-top: 2rem;
}
